@import url('https://fonts.googleapis.com/css?family=Manrope');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Manrope';
}

#logopage {
    position: relative; 
    height: 100vh;
}

nav {
    font-size: 1.5vw;
}


.bg-custom {
    background: none;
    transition-duration: 0.5s;
}

.bg-custom:hover {
    transition-duration: 0.5s;
    background: rgba(177,13,50, 0.5);
}

#myVideo {
    z-index: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: relative;
    display: inline-block; 
    width: 100%;
    height: 100%;

    /* background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)); */
}

#downB {
    cursor: pointer;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    color: white;
    font-size: 40px;
    font-weight: bold;
    width: 50px; 
    height: 50px;
    border-width: 0px;
    border-radius: 25px;
    bottom: 10px;
    background: none;
    transition-duration: 0.5s;
}

#downB:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    background: rgba(255, 255, 255, 0.5);
}

#aboutus {
    height: 100vh; 
    width: 100%;
    font-size: 6.25rem;
    text-align: center;
    display: flex;
    justify-content: left;
}

#aboutus h1 {
    text-align: center;
    color: black;
    background: #B10D32;
}

#aboutus p {
    color: black;
    font-size: 1.25rem;
}


#upB {
    cursor: pointer;
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    font-weight: bold;
    width: 50px; 
    height: 50px;
    border-width: 0px;
    border-radius: 25px;
    background: none;
    transition-duration: 0.5s;
}

#upB:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    background: rgba(55, 55, 55, 0.5);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#first {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100%;
    font-size: 6.25rem;
    text-align: center;
    display: flex;
    justify-content: center;  
    align-items: center;
}

#second {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100%;
    font-size: 6.25rem;
    text-align: center;
    display: flex;
    justify-content: center;  
}

#third {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh; 
    width: 100%;
    font-size: 6.25rem;
    text-align: center;
    display: flex;
    justify-content: center;  
}

#header1 {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
    font-size: 7vw;
    -webkit-text-stroke-width: 3px; 
    -webkit-text-stroke-color: black;
    height: fit-content;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}